.wrap-card-body{
  width: 600px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  border: 2px solid #FD5758;
}

.card-space{
    padding-top: 50px;
}

.title{
    width: 100%;
  display: block;
  font-size: 39px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
}

.mp-color{
    background-color:#f2f2f2;
}

.btn-color{
    background-color:#FD5758;
    color:white;
}

