// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-family-montserrat: 'Montserrat', sans-serif;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$header: #FF385C;
$black: #222222;
$white: white;
$grey: grey;
$logo: #FFDCBA;
$orange: #ffaf62;
$pink-card: #f38695;
$grey-card: #777;
$background-card: #222;
$my-red: #EA5353;
$my-cyan: #45D3D3;
$my-blue: #549EF2;
$dark-grey: #4C4E61;
$my-grey: #A3A5AE;
$light-grey: #FAFAFA;
$dark-blue: #3E52A3;